<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">Bus Ticket Booking</div>
        <div class="navbar-brand">Admin: {{name}}</div>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="buses"class="nav-link">Buses <i class="fa-sharp fa-solid fa-bus"></i></a></li>
        <li class="nav-item"><a routerLink="addbus" class="nav-link">Add Bus</a></li>
        <li class="nav-item"><a routerLink="editbus" class="nav-link">Edit Bus</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="histroy" class="nav-link">history</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Logout</a></li>
      </ul>
    </div>
  </nav>

