ng-container{
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: whitesmoke;
    font-weight: 500;
}
.fs1{
    border: 1px solid whitesmoke;
    padding: 30px;
    background-color: whitesmoke;
    color:  rgb(10, 9, 9);
}

.fs2{
    border: 1px solid whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 33px;
    padding-right: 10px;
    background-color: rgb(219, 76, 76);
    
}

#buses{
    border: 1px solid whitesmoke;
    padding: 30px;
    margin-bottom: 10px;
    background-color: whitesmoke;


}

h2{
    text-align: center;
    color: rgb(7, 7, 7) ;
}

.col{
    padding: 5px;
}